.navbar ul{
    list-style-type:none;
    background: transparent;
    backdrop-filter: blur(50px);
    padding: 0px;
    margin: -10px;
    overflow: hidden;
    border-radius: 10px;
}

.navbar a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: left;
  padding: 15px;
  display: block;
  text-transform:capitalize;
  font-weight: bolder;
  font-size: large;
}

.navbar a:hover{

    background-color: rgb(84, 84, 84);
    border-radius: 10px;
}

.navbar li{
    float: left;
}

body{
   background: url("https://i.pinimg.com/originals/36/df/ea/36dfeac814d57b80956d2e4fbd3dcd54.jpg");
   background-size: cover;  
}

.wrapper{
    width:auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 20px;
    margin: 10%; 
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    text-transform: capitalize;
    
}

#input1{
    border-radius: 10px;
    padding: 1%;
}

#input2{
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 5%;
    text-transform: capitalize;
}